{% extends "layout.html" %}

{% block body %}


<div class="container index">
  {% if user.is_authenticated %}
    <a  class="btn-3" href="{% url "profile" %}" type="button"><i class="fa-solid fa-backward"></i> Back  </a>
  {% endif %}
    <div class="brand">
        <h1 class="text-gradient">PetTrack  <i class="fa-solid fa-paw"></i> </h1>
        <p class="slogan">Keeping your pets on track </p>
      
    </div>
  

    <h2 class="text-center">Change Password</h2>
    
    <div class="form">
      {{error}}
    <form method="POST">
      {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          
        </div>
       
        <button type="submit" class="btn-custom">Submit</button>
      </form>
    </div>

    <div class="nav-links">

      <a href="{% url 'register' %}">Don't have an account?</a>
      <a href="{% url "index" %}">Login</a>
    </div>
</div>


{% endblock body %}