{% extends 'adminLayout.html' %}

{% block body %}
<div class="brand">
   <h4 class="text-gradient">{{pet.name}}  <i class="fa-solid fa-paw"></i>  <img src="{{pet.pet_image.url}}" class="pet-img" alt="pet image"></h4>
</div>


<a href="{% url "history" id=pet.id %}">
    <div class="actions mb-3"> 
       <div >
          <h5 class="pet-title text-center text-white">Medical History   <i class="fa-regular fa-calendar-check"></i></h5>
       </div>
    </div>
</a>

<a href="{% url 'vaccines' id=pet.id %}">


   <div class="actions mb-3"> 
      <div >
         <h5 class="pet-title text-center text-white">Vaccinations  <i class="fa-solid fa-syringe"></i></h5>
      </div>
   </div>
</a>

<a href="{% url 'medications' id=pet.id %}">
   <div class="actions mb-3"> 
      <div >
         <h5 class="pet-title text-center text-white">Medications  <i class="fa-solid fa-capsules"></i></i></h5>
      </div>
   </div>
</a>

<a href="{% url 'weightControl' id=pet.id %}">
   <div class="actions mb-3"> 
      <div >
         <h5 class="pet-title text-center text-white">Weight Control <i class="fa-solid fa-weight-scale"></i></h5>
      </div>
   </div>
</a>

<a href="{% url 'weightControl' id=pet.id %}">
   <div class="actions mb-3"> 
      <div >
         <h5 class="pet-title text-center text-white">Pet Information <i class="fa-solid fa-shield-cat"></i></h5>
      </div>
   </div>
</a>





{% endblock body %}



{% block script %}



{% endblock script %}






